<form [formGroup]="formDatosRegistro" (ngSubmit)="onSubmit()">

    <div>
      <label for="regimenEmpresa">Régimen fiscal *</label><br />
      <select id="regimenEmpresa" formControlName="regimenEmpresa" required>
        <option value="" disabled>Selecciona un régimen</option>
        <option *ngFor="let regimen of regimenEmpresa" [value]="regimen.id">{{ regimen.name }}</option>
      </select>
      <div *ngIf="formDatosRegistro.get('regimenEmpresa')?.touched && formDatosRegistro.get('regimenEmpresa')?.invalid" class="error">
        Selecciona un régimen válido.
      </div>
    </div>
  
    <div>
      <label for="registroPatronalIMSS">Registro patronal del IMSS *</label><br />
      <input id="registroPatronalIMSS" type="text" formControlName="registroPatronalIMSS" />
      <div *ngIf="formDatosRegistro.get('registroPatronalIMSS')?.touched && formDatosRegistro.get('registroPatronalIMSS')?.invalid" class="error">
        Este campo es obligatorio.
      </div>
    </div>
  
    <div>
      <label for="rfc">RFC *</label><br />
      <input id="rfc" type="text" formControlName="rfc" />
      <div *ngIf="formDatosRegistro.get('rfc')?.touched && formDatosRegistro.get('rfc')?.invalid" class="error">
        Este campo es obligatorio.
      </div>
    </div>
  
    <div>
      <label for="registroInfonavit">Registro INFONAVIT</label><br />
      <input id="registroInfonavit" type="text" formControlName="registroInfonavit" />
    </div>
    
  </form>
  