<div class="modal-overlay">
    <div class="modal">
      <div class="modal-header">
        <h2>Seleccionar Empresa</h2>
      </div>
  
      <div class="modal-body">
        <p *ngIf="empresas.length === 0">Cargando empresas...</p>
        <p *ngIf="empresas.length > 0">Se encontraron {{ empresas.length }} empresas.</p>
  
        <app-tabla-empresas
          *ngIf="empresas.length > 0"
          [empresas]="empresas"
          (seleccionar)="seleccionarEmpresa($event)">
        </app-tabla-empresas>
      </div>
  
      <div class="modal-footer">
        <button (click)="cancelar()">Cancelar</button>
        <button [disabled]="!empresaSeleccionadaModal" (click)="confirmarSeleccion()">Seleccionar</button>
      </div>
    </div>
  </div>
  